<%- include('../partials/adminPartials/header.ejs') %>

<div class="container-fluid py-4">
  <a class="btn btn-success" href="/admin/addCategoryOffer">Add</a>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Category Offer Management</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount Percentage</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
              </thead>
              <tbody>
              
                  <% 
                    if(offers.length>0){
                      offers.forEach((offer)=>{
                        %>
                        <tr>
                  <td>
                    <p class="text-xs font-weight-bold mb-0"><%= offer.title %></p>
                  </td>                  
                  <td>
                    <p class="text-xs font-weight-bold mb-0"><%= offer.description %></p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0"><%= offer.category.categoryName %></p>
                  </td>                  
                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= offer.discountPercentage %>%</p>
                  </td>
                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= offer.startDate.toDateString() %></p>
                  </td>
                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= offer.endDate.toDateString() %></p>
                  </td>
                  <% if(offer.status == 'Active'){ %>
                    <td class="text-center">
                    <p class="text-success text-xs font-weight-bold mb-0"><%= offer.status %></p>
                  </td>
                  <% } else { %>
                    <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= offer.status %></p>
                  </td>
                  <% } %>
                  <td class="text-center ">
                    <a href="/admin/editCategoryOffer?id=<%= offer._id %>" class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                      Edit
                    </a>
                  </td>
                  
                        </tr>
                        <%
                      })
                    }else{
                      %>
                      <tr>
                        <td>
                    <p class="font-weight-bold mb-0">Category offers not found</p>
                  </td>
                      </tr>
                      <%
                    }  
                  %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminPartials/footer.ejs') %>