<%- include('../partials/adminPartials/header.ejs') %>

<div class="container-fluid py-4">
  <a href="/admin/addCategory" class="btn btn-success">Add</a>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Category</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">List/Unlist</th>
                </tr>
              </thead>
              <tbody>
              
                  <% 
                    if(category.length>0){
                      for(let i=0;i<category.length;i++){
                        %>
                        <tr>
                  <td class="text-center">
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= category[i].categoryName %></h6>
                      </div>
                    </div>
                  </td>
                  <td class="text-center ">
                    <a href="/admin/editCategory?id=<%=category[i]._id%>" class="btn btn-success" data-toggle="tooltip" data-original-title="Edit user">
                      Edit
                    </a>
                    <a href="/admin/deleteCategory?id=<%=category[i]._id%>" class="btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                      Delete
                    </a>
                  </td>

                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= category[i].status %></p>
                  </td>
                  <td class="text-center ">
                    <%
                    if(category[i].status){
                      %>
                      <a href="/admin/unListCategory?id=<%=category[i]._id%>" class="btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                      Unlist
                    </a>
                      <%
                    }else{
                      %>
                      <a href="/admin/anListCategory?id=<%=category[i]._id%>" class="btn btn-success" data-toggle="tooltip" data-original-title="Edit user">
                      List
                    </a>
                      <%
                    }
                    %>
                  </td>
                        </tr>
                        <%
                      }
                    }else{
                      %>
                      <tr>
                        <td>
                    <p class="font-weight-bold mb-0">Category not found</p>
                  </td>
                      </tr>
                      <%
                    }  
                  %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminPartials/footer.ejs') %>