<%- include('../partials/adminPartials/header.ejs') %>

<div class="container-fluid py-4">
  <a class="btn btn-primary" href="/admin/orders">Back</a>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Table of Ordered products</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Count</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                </tr>
              </thead>
              <tbody>
              
                  <% 
                    productData.forEach((pro)=>{

            
                        %>
                        <tr>
                  <td class="text-center">
                    <div class="d-flex px-2 py-1">
                      <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                        <img style="width: 200px; height: 200px;"  class="object-cover w-full h-full rounded-full" src="/adminAsset/productImages/<%=pro.productId.image[0]%>" alt="Product image.." loading="lazy">
                      </div>
                      <div>
                        <p class="font-semibold"><%=pro.productId.productName%></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">$<%= pro.productId.price %></p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0 text-center"><%= pro.count %></p>
                  </td>
                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0"><%= pro.productId.category %></p>
                  </td>
                  <td class="text-center">
                    <p class="text-xs font-weight-bold mb-0">$<%= pro.productId.price %></p>
                  </td>
                  
                        </tr>
                        <%
                      
                    }) 
                  %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include('../partials/adminPartials/footer.ejs') %>