<%- include('../partials/userPartials/header.ejs') %>

<!-- breadcrumb -->
<div class="container pt-lg-5">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
				Checkout
		</span>
	</div>
</div>

<!-- <form class="bg0 p-t-75 p-b-85" id="cart-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          
            

          
        </div>
      </div>

    </div>
  </div>
</form> -->

<div class="container p-t-75 p-b-85">
  <div class="col-12">
    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-6 col-md-12" >
            <h3 class="mb-4 mt-3">LOGIN</h3>
            <p class=""><span>Name</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.name%></span></p>
            <p class="mb-4"><span>Email</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.email%></span></p>
            <p><a href="/logout" class="btn-custom">Logout and sign in to another account</a></p>
        </div>
        <div class="col-6 col-md-12 text-bolder text-dark">
            <p class="mb-4 mt-3" style="color: rgb(112, 101, 101);">Advantages of Secure Login</p>
            <br>
            <p class="m-0">Easy Trach Orders,Hassle free Returns</p>
            <p class="m-0">Get Relevant Alerts and Recommentation</p>
            <p class="m-0">Wishlists,Reviews,Rating and More</p>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 m-3 p-1" style="background-color: rgb(235, 235, 235);">
    <a href="/addAddress"><button class="btn btn-danger m-5">Add Address</button></a>
    <div class="row">
   <%
   if(typeof message != 'undefined'){
        %>
        <div class="row">
          <p class="pl-5" style="color: red;"><%=message%></p>
        </div>
        <%
   }
   %>
    
  </div>
  </div>
</div>

<%- include('../partials/userPartials/footer.ejs') %>